html {
	font-size: 16px;
}

body {
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	font-size: 1em;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column wrap;
}

/*Do I remove the margin here? Not in screenshot.*/
.container {
	width: 90%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column wrap;
}

.header {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column wrap;
	width: 90%;
}

.nav {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column wrap;
	text-align: center;
	width: 90%;
}

.top-section {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column wrap;
}

.bottom-section {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column wrap;
}

h1,
h2,
h3 {
	color: black;
	text-transform: uppercase;
	font-weight: 700;
}
h1 {
	font-size: 1.875em;
	line-height: 2em;
	border-bottom: 0.188em solid #77a466;
	text-align: center;
	width: 100%;
}
h2 {
	font-size: 1.125em;
}
h3 {
	font-size: 0.75em;
}

p {
	font-size: 0.875em;
	line-height: 1.3125em;
}

/*The widths are in a percentage!*/
header {
	width: 90%;
}

header h1 span {
	color: #77a466;
}

header nav {
	width: 90%;
}

header nav ul {
	padding: 0;
}

header nav ul li {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 0.875em;
	list-style-type: none;
	line-height: 3em;
}

header nav ul li a {
	text-decoration: none;
	color:#77a466;
}

/*The widths are in a percentage!*/
.top-section,
.bottom-section {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column wrap;
	padding: 0;
}

.main-image {
	height: auto;
	padding: 0;
}
.main-image img {
	width: 100%;
	border-top: 0.188em solid #77a466;
	border-bottom: 0.188em solid #77a466;
}

.main-title {
	height: auto;
}
.main-title h2 {
	color: #77a466;
	text-align: left;
}
.main-title p {
	font-size: 1em;
	line-height: 1.563em;
	padding: 0;
}

.section-one,
.section-two,
.section-three {
	width: 100%;
	padding: 0;
}

.section-two {
	border-top: 0.063em solid #eee;
	border-bottom: 0.063em solid #eee;
}

.menu {
	list-style: none;
	padding: 0;
	
}
.menu li {
	padding: 0.625em 0;
	color:#77a466;
}

.reviews {
	color: #333;
	font-size: 1em;
	line-height: 1.3125em;
}

.address {
	font-size: 1em;
	line-height: 1.5em;
}

/*The widths are in a percentage!*/
footer {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow:row-wrap;
	border-top: 0.188em solid #eee;
	margin: 0 auto;
	text-align: center;
	width: 100%;
}
footer span {
	font-family: 'Galada', cursive;
	text-transform: lowercase;
	color: #77a466;
	font-size: 0.875em;
}

@media (min-width: 768px) {
	.bottom-section {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	flex: 1;
	overflow: hidden;
	min-height: 250px;
	border-top: 0.188em solid #77a466;
	border-bottom: 0.188em solid #77a466;
	}

	.section-two {
	border-left: 0.063em solid #eee;
	border-right: 0.063em solid #eee;
	border-top: none;
	border-bottom: none;
	padding: 0.625em 1.875em;
	}

	.section-three {
	padding: 0.625em 1.875em;
	}
}

@media (min-width: 1200px) {
	.header {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-flow: column wrap;
}
	header h1 {
		border: none;
		text-align: left;
	}

	.nav {
	display: inline-flex;
	flex-flow: row nowrap;
	justify-content: flex-end;
	align-items: flex-end;
	width: 100%;
	}

	header nav ul li {
		display: inline-flex;
		justify-content: space-between;
		padding: 0.625em;
		align-items: flex-end;
	}

	.bottom-section {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	flex: 1;
	overflow: hidden;
	min-height: 250px;
	border-top: 0.188em solid #77a466;
	border-bottom: 0.188em solid #77a466;
	}

	.section-two {
	border-left: 0.063em solid #eee;
	border-right: 0.063em solid #eee;
	border-top: none;
	border-bottom: none;
	padding: 0.625em 1.875em;
	}

	.section-three {
	padding: 0.625em 1.875em;
	}
}
